.container_big-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 20px;

  width: 400px;
  height: 500px;
}

.big-card-image > img {
  width: 100%;
  min-width: 400px;
}

.big-card-title > h1 {
  font-size: 20px;
  margin-top: 14px;
}

.big-card-description {
  margin-top: 20px;
}
.big-card-description > p > a {
  color: #808080;
}
