<div class="container_big-card">
    <div class="big-card-image">
        <img src="https://th.bing.com/th/id/OIP.whbhQ4JYOIz-WvVS7tIXFAHaEK?w=333&h=187&c=7&r=0&o=5&pid=1.7" alt=""
            height="200px">
    </div>

    <div class="big-card-title">
        <h1> <a href="#">Titulo do Big Card</a> </h1>
    </div>

    <div class="big-card-description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aspernatur eum consequuntur placeat sed
                dolore
                illum expedita beatae tenetur. Eaque suscipit quo excepturi tempora sed quibusdam explicabo vero dolor
                culpa!
            </a>
        </p>
    </div>
</div>