.menu_title_container {
  color: white;
}
.menu_title_container > h1 {
  display: flex;
  justify-content: center;
  font-size: 135px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
}
.menu_title_container > hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
