<app-menu-title></app-menu-title>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card Id="1"
            imageCover="https://th.bing.com/th/id/OIP.whbhQ4JYOIz-WvVS7tIXFAHaEK?w=333&h=187&c=7&r=0&o=5&pid=1.7"
            cardTitle="Anunciado filme dos Guardiões da Galáxia"
            cardDescription="Novo lançamento promete muita diversão"></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card Id="2"
            imageCover="https://th.bing.com/th/id/OIP.cv4dS8F2MdKLN32EICzbxQHaEM?w=258&h=180&c=7&r=0&o=5&pid=1.7"
            cardTitle="Nova serie anunciada!"></app-small-card>
        <app-small-card Id="3"
            imageCover="https://th.bing.com/th/id/OIP.Kl_uhX5COKhKnW0UTUdsDwHaEK?w=184&h=103&c=7&r=0&o=5&pid=1.7"
            cardTitle="Novo filme do Batman em Produção"></app-small-card>
        <app-small-card Id="4"
            imageCover="https://th.bing.com/th/id/OIP.mACjX7PoT9EKq3TdnURFYgHaEO?w=279&h=180&c=7&r=0&o=5&pid=1.7"
            cardTitle="Curiosidades sobre o mundo das HQs"></app-small-card>
    </div>

</div>